div {
  border-radius: 16px;
  background-color: #ffffff;
  box-shadow: 0 4px 16px 0 rgba(141, 211, 187, 0.15);
  max-width: 1232px;
  margin: 0 auto;
  margin-top: -97px;
}

.landing-page-form-wrapper {
  padding: 16px 32px 32px 32px;
}

.flights-form-wrapper{
  padding: 32px 24px 48px 24px;
}

.hotels-form-wrapper {
  padding: 32px 24px;
}
